<template name="BandHome">
  {{>Nav}}
  {{>ModalConfirm}}
  {{>ModalAlert}}
  <div class="container">
    <div class="col-md-3 hidden-xs hidden-sm">
      <div class="panel">
        <div class="panel-body text-center">
          {{>BandProfile}}
        </div>
      </div>
    </div>
    <div class="col-xs-12 hidden-md hidden-lg">
      밴드 미니 프로필 들어갈 부분
    </div>
    <div class="col-xs-12 col-md-9">
      {{#if isNotExistSong}}
        <div class="well">저런! 합주곡이 없네요.</div>
      {{/if}}
      {{#if isMyBand}}
        <div class="add-song panel panel-material-indigo">
          <div class="panel-heading">곡 등록하기</div>
          <div class="panel-body">
            <form class="form-vertical add-song-form">
              <div class="form-group">
                <label class="col-xs-4">원곡 밴드이름</label>
                <div class="col-xs-8">
                  <input id="origin-band-name" type="text" class="form-control" placeholder="원곡 밴드이름을 적어주세요." required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-4">곡 이름</label>
                <div class="col-xs-8">
                  <input id="song-name" type="text" class="form-control" placeholder="곡 이름을 적어주세요." required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-4">youtube URL</label>
                <div class="col-xs-8">
                  <input id="youtube-url" type="text" class="form-control" placeholder="곡의 youtube URL을 적어주세요." required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-xs-4">설명</label>
                <div class="col-xs-8">
                  <textarea id="description" rows="4" class="form-control" placeholder="곡에 대한 설명을 적어주세요." required></textarea>
                </div>
              </div>
              <div class="text-right">
                <button type="submit" class="btn btn-info add-song"><i class="mdi-image-audiotrack"></i>추가</button>
              </div>
            </form>
          </div>
        </div>
      {{/if}}
      <ul class="list-inline">
        {{#each songs}}
          <li class="col-xs-12">
            <article class="song-panel panel panel-material-indigo">
              <div class="panel-body">
                <div class="col-xs-12">
                  <div><img class="profile-image" src="{{profileImageByTwitterId registUser}}">
                    <strong>{{registUser}}</strong>님이 곡을 등록하셨습니다.
                    <div class="pull-right">
                      <small>{{getMomentTime createdAt}}</small>
                      {{#if isMySong}}
                        <form class="inline song-remove-form">
                          <button type="submit" class="btn btn-danger"><i class="mdi-content-remove-circle"></i></button>
                        </form>
                      {{/if}}
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div>{{originBandName}} - {{name}}</div>
                  <iframe src="{{youtubeUrl}}" class="iframe"></iframe>
                  <div class="col-xs-12">
                    <div class="pull-left">
                      <span class="label label-info">{{votes.length}}</span> 명이 커버에 찬성합니다.<br>
                      {{#each voteUsersProfileImage}}
                        <img src="{{this}}" class="profile-image" alt=""/>
                      {{/each}}
                    </div>
                    <div class="pull-right">
                      {{#if isNotVote}}
                        <form id="hapju-vote-form">
                          <button type="submit"><i class="mdi-action-favorite"></i> 찬성</button>
                        </form>
                      {{/if}}
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="col-xs-12">
                    {{description}}
                  </div>
                  <hr/>
                  <ul class="list-unstyled">
                    {{#each comments}}
                      <li class="row">
                        <div class="pull-left">
                          <img class="comment-profile-image" src="{{profileImageByTwitterId commentUser}}" alt=""/>
                            <strong>{{commentUser}}</strong>&nbsp;<span>{{content}}</span>
                        </div>
                        <div class="pull-right"><small>{{getMomentTime createdAt}}</small></div>
                      </li>
                    {{/each}}
                    <li class="row">
                      <form id="add-song-comment-form">
                        <div class="pull-left">
                          <img class="comment-profile-image" src="{{profileImage}}" alt=""/>
                          <strong>{{currentUser.services.twitter.screenName}}</strong>
                          <input id="comment-content" class="form-control inline" type="text" placeholder="이 곡 어떠세요?."/>
                        </div>
                        <div class="pull-right">
                          <small>
                            <button class="btn btn-primary btn-xs ripple-effect" type="submit">
                              <i class="mdi-content-create"></i>
                            </button>
                          </small>
                        </div>
                      </form>
                    </li>
                  </ul>
                </div>
              </div>
            </article>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>