<template name="ModalConfirm">
  <div id="modal-confirm" class="backdrop hide">
    <div class="panel panel-material-indigo">
      <div class="panel-heading">알림</div>
      <div class="panel-body">
      </div>
      <div class="panel-footer text-right">
        <button class="modal-confirm-cancel-button btn btn-danger">
          <i class="mdi-content-clear"></i>
        </button>
        <button class="modal-confirm-ok-button btn btn-primary">
          <i class="mdi-action-done"></i>
        </button>
      </div>
    </div>
  </div>
</template>